<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	<!-- 配置安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- 注入Realm -->
		<property name="realm" ref="userRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager"></property>
	</bean>
	
	<bean id="rolesOR" class="com.hiynn.shiro.filter.CustomRolesAuthorizationFilter"></bean>

	<!-- 启用shrio授权拦截方式 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- 装配 securityManager -->
		<property name="securityManager" ref="securityManager" />
		<!-- 配置登陆页面,没有登录跳转的页面-->
		<property name="loginUrl" value="/jsp/login.jsp" />
		<!-- 登陆成功后跳转的页面 -->
		<property name="successUrl" value="/jsp/success.jsp" />
		<!-- 认证后没有权限跳转的页面 -->
		<property name="unauthorizedUrl" value="/jsp/unauthorized.jsp" />
		<!-- 替换shiro默认的角色过滤器 -->
		<!-- <property name="filters">
			<map>			
				<entry key="roles">  
	                <bean class="com.hiynn.shiro.filter.CustomRolesAuthorizationFilter" />  
	            </entry>  
			</map>
		</property> -->
		<!-- shiro URL过滤规则  -->
		<property name="filterChainDefinitions">
			<value>
				/jsp/login.jsp*=anon
				/login*=anon
				/jsp/hello.jsp*=anon
				/js/**=anon
				/userList* = rolesOR["user,admin"]
				/**=authc
			</value>
		</property>
	</bean>
</beans> 